<html>
	<head>
		<title>JGP/Stationeries</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/main.css">
		<link rel="stylesheet" href="/stylesheets/stationery.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" ></script>
	
	</head>
	<body>
		<!--Navbar-->
		<div class="shadow p-2 mb-5 bg-white rounded fixed-top">	
			<nav id="mainNavbar" class="navbar navbar-dark bg-dark navbar-expand-md ">
				<a href="/" class="navbar-brand"><img class="logo" src="/images/images.jpeg" class="img-fluid"> &nbsp;JG&P&nbsp;&nbsp;&nbsp;</a>
				<button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navLinks">
					<ul class="navbar-nav w-100">
						<li class="nav-item">
							<a href="/home" class="nav-link">&nbsp;Home</a>
						</li>
						<li class="nav-item">
							<a href="/printing" class="nav-link">&nbsp;Printing</a>
						</li>
						<li class="nav-item">
							<a href="/stationery" class="nav-link">&nbsp;Stationery</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">								Other items</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						 		<a class="dropdown-item" href="#">Calendar</a>
						  		<a class="dropdown-item" href="#">Magzine</a>
								<a class="dropdown-item" href="#">Exam Paper Contract</a>
								<a class="dropdown-item" href="#">Visiting Cards</a>
							</div>
						 </li>
						<ul class="ml-auto navbar-nav">
							<% if(CurrentUser){ %>
							<li class="nav-item ">
								<a href="/cart" class="nav-link"><i class="fas fa-shopping-cart"></i> &nbsp;My Cart
									<% if(session.cart){ %>
										<span class="badge badge-secondary"><%= session.cart.TotalQty %></span>
									<% } %>
									&nbsp;&nbsp;</a>
							</li>
							
							
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								  <i class="fas fa-user"></i>  &nbsp;<%= CurrentUser.fname %>
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								  <a class="dropdown-item" href="/profile">My Profile</a>
								  <a class="dropdown-item" href="/order">My Orders</a>
								  <div class="dropdown-divider"></div>
									<a class="dropdown-item" href="/logout">Logout</a>
								</div>
								<% } %>
							 </li>
							
						</ul>
						
					</ul>
				</div>
			</nav>
		</div>
		
		<!--Flash message -->
		<div class="container">
			<% if(error && error.length >0){ %>
				<div class="alert alert-danger" role="alert">
					<%=error %>
				</div>
			<% } %>
			<% if(success && success.length >0){ %>
				<div class="alert alert-success" role="alert">
					<%=success %>
				</div>
			<% } %>
		</div>
		
		<!-- products-->
		<div class="container">
			<div class="bg bg-danger text-center heading">
				Stationery
			</div>
			<div class="row">
				<% products.forEach(function(p){ %>
					<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="product-grid">
						<div class="product-image">
							<a href="#">
								<img class="pic-1" src="<%= p.img %>">
								<img class="pic-2" src="<%= p.img %>">
							</a>
							<ul class="social">
								<li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
								<li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
								<li><a href="/addtocart/s/<%= p._id %>" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
							</ul>
							<% if(p.sale != "0" && p.sale.length>0){ %>
								<span class="product-new-label">Sale</span>
								
							<% } %>
						</div>
						<ul class="rating">
							<li class="fa fa-star"></li>
							<li class="fa fa-star"></li>
							<li class="fa fa-star"></li>
							<li class="fa fa-star"></li>
							<li class="fa fa-star disable" style="color:white"></li>
						</ul>
						<div class="product-content">
							<h3 class="title"><a href="#"><%= p.title %></a></h3>
							<div class="price">₹<%= p.price %>
								<% if(p.sale != "0" && p.sale.length>0){ %>
									<span>₹<%= p.sale %></span>
								<% } %>
								
							</div>
							<a class="add-to-cart" href="/addtocart/s/<%= p._id %>">+ Add To Cart</a>
						</div>
					</div>
					</div>
				<% }) %>
			</div>
		</div>
		<hr>			
		<!-- Navbar toggle function-->
		<script>
			$(function () {
				$(document).scroll(function () {
					var $nav = $("#mainNavbar");
					$nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
				});
			});
    	</script>
	</body>
</html>